.content{
	margin:0px  auto;
	width:1000px;
}
h2 {
margin:0px;
height: 29px;
padding: 0 10px;
border-bottom: 1px solid white;
font-size: 14px;
line-height: 29px;
background: #EEF4FA;
}
#person,#tongji,#jilu{
	float:left;
	width:248px;
	height:254px;
	border: 1px solid #A9CBEE;
	margin-top:5px;
}
.leftziliao{
	float:left;
	width:250px;
}
.rightziliao{
	float:left;
	
}
#activities{
float:left;
height:254px;
margin-left:3px;
width:744px;
border: 1px solid #A9CBEE;
margin-top:5px;
}
#authorTopics{
float:left;
margin-left:3px;
height:254px;
width:744px;
border: 1px solid #A9CBEE;
margin-top:5px;
}
#liuyan{
	float:left;
margin-left:3px;
height:254px;
width:744px;
border: 1px solid #A9CBEE;
margin-top:5px;
}